@model UniSys.Models.Tutor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tutor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @{
                var position = Model.Position;
                var value = "";
                switch (position)
                {
                    case 1:
                        value = "Professor 教授"; break;
                    case 2:
                        value = "Associate Professor 副教授"; break;
                    case 3:
                        value = "Senior Lecturer 高級講師"; break;
                    case 4:
                        value = "Lecturer 講師"; break;
                    case 5:
                        value = "Assistant 助教"; break;
                };
            }
            @value
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @{
            var gender = Model.Gender == true ? "Male" : "Female";
            }
            @gender
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeletedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Tutor_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
