@model IEnumerable<UniSys.Models.Tutor>

@{
    ViewData["Title"] = "Index";
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (item.IsDelete == false)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @{
                        var position = item.Position;
                        var value = "";
                        switch (position)
                        {
                            case 1:
                                value = "Professor 教授";break;
                            case 2:
                                value = "Associate Professor 副教授";break;
                            case 3:
                                value = "Senior Lecturer 高級講師";break;
                            case 4:
                                value = "Lecturer 講師";break;
                            case 5:
                                value = "Assistant 助教";break;
                        };
                    }
                    @value
            </td>
            <td>
                    @{
                        var gender = item.Gender == true ? "Male" : "Female";
                    }
                    @gender
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Tutor_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Tutor_ID">Details</a> 
                @if (item.IsDelete == false)
                {
                    <span>| </span>
                    <a asp-action="Delete" asp-route-id="@item.Tutor_ID">Delete</a>
                }
            </td>
        </tr>
    }
}
    </tbody>
</table>
